---
layout: page
title: 文章分类
---

<div id='tags' >
    {% for category in site.categories %}
    <a href="/category.html#{{ category[0] }}" title="{{ category[0] }}" rel="{{ category[1].size }}">{{ category[0] }}({{ category[1].size }})</a>
    {% endfor %}
</div>
<p></p>

{% for category in site.categories %}
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <div class="am-list-news-hd am-cf">
    <a name="{{ category | first }}" class="">
      <h2>{{ category | first }}</h2>
      <!--<span class="am-list-news-more am-fr">更多 &raquo;</span>-->
    </a>
  </div>
  <div class="am-list-news-bd">
    <ul class="am-list">
      {% for post in category[1] %}
      <li class="am-g am-list-item-dated">
        <a href="{{ post.url }}" class="am-list-item-hd ">{{ post.title }}</a>
        <span class="am-list-date">{{ post.date | date_to_string }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}