---
layout: default
---
<div class="posts">
    <h1 class="content-subhead">Post</h1>

    {% for post in paginator.posts %}
    <section class="post">
        <header class="post-header">
            <a href="/about/{{ post.author }}"><img class="post-avatar" alt="{{ post.author }}&#x27;s avatar" height="48" width="48" src="/images/avatar/{{ post.author }}.jpg"></a>

            <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

            <p class="post-meta">
                 On <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> By <a href="/about/{{ post.author }}" class="post-author">{{ post.author }}</a> {% if post.categories %}under <a class="post-category post-category-default" href="/category.html#{{ post.categories }}">{{ post.categories }}{% endif %}</a> {% if post.tags.size > 0 %}Tags: {% for tag in post.tags %}<a class="post-tag " href="/tag.html#{{ tag }}">{{ tag }}</a>{% endfor %}{% endif %}
            </p>
        </header>

        <div class="post-description">
            {{ post.content | split:'<!-- more -->'| first }}
            <a class="post-category post-category-readmore" href="{{ post.url | prepend: site.baseurl }}">阅读全文</a>
        </div>
    </section>
    {% endfor %}
</div>
<!--
<div class="pure-g pagination">
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pure-u-1-2 pagination-item" href="/"><p>Newer</p></a>
    {% else %}
    <a class=" pure-u-1-2 pagination-item" href="/page/{{paginator.previous_page}}"><p>Newer</p></a>
    {% endif %}
    {% else %}
    <span class=" pure-u-1-2 pagination-item"><p>Newer</p></span>
    {% endif %}


    {% if paginator.next_page %}
    <a class=" pure-u-1-2 pagination-item" href="/page/{{paginator.next_page}}"><p>Older</p></a>
    {% else %}
    <span class=" pure-u-1-2 pagination-item"><p>Older</p></span>
    {% endif %}
</div>
-->
<nav class="pagination" role="navigation">
  {% if paginator.page == 1 %}
  <span class="pagination__page-number">1</span>
  {% else %}
  <a href="{{ site.link }}">1</a>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}
  {% if count == paginator.page %}
  <span class="pagination__page-number">{{ count }}</span>
  {% else %}
  <a href="{{ site.link }}/page/{{ count }}">{{ count }}</a>
  {% endif %}
  {% endfor %}
</nav>