---
layout: page
title: 标签云
---

<div id='tags' >
    {% for tag in site.tags %}
    <a href="/tag.html#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}({{ tag[1].size }})</a>
    {% endfor %}
</div>
<p></p>

{% for tag in site.tags %}
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <div class="am-list-news-hd am-cf">
    <a name="{{ tag[0] }}" class="">
      <h2>{{ tag[0] }}</h2>
      <!--<span class="am-list-news-more am-fr">更多 &raquo;</span>-->
    </a>
  </div>
  <div class="am-list-news-bd">
    <ul class="am-list">
      {% for post in tag[1] %}
      <li class="am-g am-list-item-dated">
        <a href="{{ post.url }}" class="am-list-item-hd ">{{ post.title }}</a>
        <span class="am-list-date">{{ post.date | date_to_string }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}

