---
layout: page
title: 标签云
---

<div id='tags' >
    {% for tag in site.tags %}
    <a href="/tag.html#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
    {% endfor %}
</div>
<p></p>
{% for tag in site.tags %}
<div>
    <h3><a name="{{ tag[0] }}">{{ tag[0] }}</a></h3>
    <ul>
        {% for post in tag[1] %}
        <li>
            <a href="{{ post.url  }}" title="" target="_blank">{{ post.title }}</a>
            <span>{{ post.date | date_to_string }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.tagcloud.js"></script>
<script type="text/javascript">
$.fn.tagcloud.defaults = {
  size: {start: 14, end: 18, unit: 'pt'},
  color: {start: '#cde', end: '#f52'}
};

$(function () {
  $('#tags a').tagcloud();
});
</script>