---
layout: page
title: 时间线
---

<div>
    {% for post in site.posts reverse %}
    {% if post.layout == 'post' %}
    <article>
        <h3>{{ post.date | date: "%Y" }}</h3>
        <section>
            <time datetime="{{ post.date | date: "%m" }}-{{ post.date | date: "%d" }}">
                <span>{{ post.date | date: "%m" }}月{{ post.date | date: "%d" }}日</span>
            </time>
            <aside>
                <p><a href="{{ post.url }}">{{post.title}}</a></p>
            </aside>
        </section>
    {% endif %}
    {% endfor %}
    </article>
</div>