---
layout: page
title: 时间线
---

<ul class="am-list">
    {% for post in site.posts %}
        {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
        {% if year != y %}
            {% assign year = y %}
        <li><a name="{{ y }}" title="{{ y }}"><b>{{ y }}</b></a></li>
        {% endif %}
        <li><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a><span class="am-list-date">{{ post.date | date_to_string }}</span></li>
    {% endfor %}
</ul>