---
layout: page
title: 时间线
---

{% for post in site.posts %}
    {% capture ym1 %}{{post.date | date:"%Y-%m"}}{% endcapture %}
    {% if ym2 != ym1 %}
        {% if ym2 %} <a href="/timeline.html#{{ ym2 }}">{{ ym2 }}({{ count }})</a> {% endif %}
        {% assign ym2 = ym1 %}
        {% assign count = 1 %}
    {% else %}
        {% capture count %}{{ count | plus:1 }}{% endcapture %}
    {% endif %}
{% endfor %}
{% if ym2 %} <a href="/timeline.html#{{ ym2 }}">{{ ym2 }}({{ count }})</a> {% endif %}

<ul class="am-list">
    {% for post in site.posts %}
        {% capture y %}{{post.date | date:"%Y-%m"}}{% endcapture %}
        {% if year != y %}
            {% assign year = y %}
        <li><a name="{{ y }}" title="{{ y }}"><b>{{ y }}</b></a></li>
        {% endif %}
        <li><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a><span class="am-list-date">{{ post.date | date_to_string }}</span></li>
    {% endfor %}
</ul>