<div class="footer">
    <div class="pure-menu pure-menu-horizontal pure-menu-open">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="http://twitter.com/{{ site.twitter_username }}/">Twitter</a></li>
            <li><a href="http://github.com/{{ site.github_username }}">GitHub</a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a></li>
            <li><a href="{{ "/sitemap.html" | prepend: site.baseurl }}">Sitemap</a></li>
        </ul>
    </div>
</div>
<div class="go-to-top"><a href="javascript:;" title="返回顶部"></a></div>