<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="/images/favicon.png" rel="icon" type="image/png">
    <link rel="stylesheet" href="{{ "/css/pure-0.5.0/pure-min.css" | prepend: site.baseurl }}">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ "/css/pure-0.5.0/grids-responsive-old-ie-min.css" | prepend: site.baseurl }}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ "/css/pure-0.5.0/grids-responsive-min.css" | prepend: site.baseurl }}">  
    <!--<![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ "/css/blog-old-ie.css" | prepend: site.baseurl }}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ "/css/blog.css" | prepend: site.baseurl }}">
    <!--<![endif]-->
    <link rel="stylesheet" href="{{ "/css/highlight.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome-4.2.0/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/blog.js"></script>
</head>