<header class="am-topbar">
  <h1 class="am-topbar-brand">
    <a href="{{ site.baseurl }}/">blog-{{ site.title }}</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
      class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li{% if page.title %}{% else %} class="am-active"{% endif %}><a href="/">首页</a></li>
      <li{% if page.title == '文章分类' %} class="am-active"{% endif %}><a href="/category.html">文章分类</a></li>
      <li{% if page.title == '标签云' %} class="am-active"{% endif %}><a href="/tag.html">标签云</a></li>
      <li{% if page.title == '时间线' %} class="am-active"{% endif %}><a href="/timeline.html">时间线</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          关于 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header">关于</li>
          <li><a href="/about/">关于我们</a></li>
          <li><a href="/about/John/">关于John</a></li>
          <li><a href="/about/Yoyo/">关于Yoyo</a></li>
          <li class="am-dropdown-header">更多</li>
          <li><a href="/sitemap.html">Sitemap</a></li>
          <li><a href="/feed.xml">RSS订阅</a></li>
        </ul>
      </li>
    </ul>

    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search" action="http://zhannei.baidu.com/cse/search" method="get" target="_blank">
      <div class="am-form-group">
        <input type="hidden" name="s" value="1362425827670238696">
        <input type="hidden" name="entry" value="1">
        <input type="text" id="txtKeywords" name="q" class="am-form-field am-input-sm" placeholder="搜索文章">
      </div>
      <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
    </form>

  </div>
</header>