<div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">关于我</div>
        <div class="am-panel-bd">
          <p>{{ site.description }}</p>
          <a class="am-btn am-btn-success am-btn-sm" href="/about/">查看更多 →</a>
        </div>
      </section>
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">文章目录</div>
        <ul class="am-list blog-list">
          {% for post in site.posts %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">作者</div>
        <div class="am-panel-bd">
          <ul class="am-avg-sm-4 blog-team">
            <li><a href="/about/John"><img class="am-thumbnail" src="/assets/i/avatar/John.jpg" alt="John" title="John"/></a></li>
            <li><a href="/about/Yoyo"><img class="am-thumbnail" src="/assets/i/avatar/Yoyo.jpg" alt="Yoyo" title="Yoyo"/></a></li>
          </ul>
        </div>
      </section>
    </div>
</div>