<div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">关于我</div>
        <div class="am-panel-bd">
          <p>{{ site.description }}</p>
          <a class="am-btn am-btn-success am-btn-sm" href="/about/">查看更多 →</a>
        </div>
      </section>
      {% if site.related_posts %}
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">推荐文章</div>
        <ul class="am-list blog-list">
          {% for post in site.related_posts %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
      {% else %}
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">最新文章</div>
        <ul class="am-list blog-list">
          {% for post in site.posts %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
      {% endif %}
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">作者</div>
        <div class="am-panel-bd">
          <ul class="am-avg-sm-4 blog-team">
            <li><a href="/about/John"><img class="am-thumbnail" src="/assets/i/avatar/John.jpg" alt="John" title="John"/></a></li>
            <li><a href="/about/Yoyo"><img class="am-thumbnail" src="/assets/i/avatar/Yoyo.jpg" alt="Yoyo" title="Yoyo"/></a></li>
          </ul>
        </div>
      </section>
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">标签云</div>
        <div class="am-panel-bd" id="tags">
          {% for tag in site.tags %}
          <a href="/tag.html#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
          {% endfor %}
        </div>
      </section>
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">文章分类</div>
        <div class="am-panel-bd">
          {% for category in site.categories %}
          <a href="/category.html#{{ category[0] }}" title="{{ category[0] }}">{{ category[0] }}({{ category[1].size }})</a>
          {% endfor %}
        </div>
      </section>
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">文章归档</div>
        <div class="am-panel-bd">
          {% for post in site.posts %}
              {% capture ym1 %}{{post.date | date:"%Y-%m"}}{% endcapture %}
              {% if ym2 != ym1 %}
                  {% if ym2 %}
          <a href="/timeline.html#{{ ym2 }}">{{ ym2 }}({{ count }})</a> 
                  {% endif %}
                  {% assign ym2 = ym1 %}
                  {% assign count = 1 %}
              {% else %}
                  {% assign count = count + 2 %}
              {% endif %}
          {% endfor %}
          {% if ym2 %} 
          <a href="/timeline.html#{{ ym2 }}">{{ ym2 }}({{ count }})</a> 
          {% endif %}
        </div>
      </section>
    </div>
    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
      <a href="#top" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
        <i class="am-gotop-icon am-icon-chevron-up"></i>
      </a>
    </div>
</div>