<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="layout" class="pure-g">
      {% include sidebar.html %}

      <div class="content pure-u-1 pure-u-md-3-4">
          <div>
              <!--[if lte IE 8]>
              <i class="label label-danger">为淘汰老IE作贡献，本网站只支持IE9+，以及其他浏览器。</i>
              <![endif]-->

              <!-- A wrapper for all the blog posts -->
              {{ content }}

              {% include footer.html %}
          </div>
      </div>
    </div>
  </body>

</html>
