---
layout: default
---
	<div class="post">
        <header class="post-header">
            <a href="/about/{% if page.author %}{{ page.author }}{% endif %}"><img class="post-avatar" alt="{{ page.author }}&#x27;s avatar" height="48" width="48" src="/images/avatar/{{ page.author }}.jpg"></a>

            <h2 class="post-title">{{ page.title }}</h2>

            <p class="post-meta">
                 On <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span> By <a href="/about/{% if page.author %}{{ page.author }}{% endif %}" class="post-author">{% if page.author %}{{ page.author }}{% endif %}</a> {% if page.categories %}under <a class="post-category post-category-default" href="/category.html#{{ page.categories }}">{{ page.categories }}{% endif %}</a> {% if page.tags.size > 0 %}Tags: {% for tag in page.tags %}<a class="post-tag " href="/tag.html#{{ tag }}">{{ tag }}</a>{% endfor %}{% endif %}
            </p>
        </header>

        <article class="post-content">
            
                {{ content }}
            
        </article>
    </div>
    <div class="pure-g pagination">
        {% if page.previous %}
        <a class="pure-u-1-2 pagination-item " href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }} "><p> <i class="fa fa-mail-reply"></i>&nbsp;{{ page.previous.title }}</p></a>
        {% else %}
        <span class="pure-u-1-2 pagination-item "><p>上一篇&nbsp;<i class="fa fa-chain-broken"></i></p></span>
        {% endif %}
        {% if page.next %}
        <a class="pure-u-1-2 pagination-item " href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}"><p>{{ page.next.title }}&nbsp;<i class="fa fa-mail-forward"></i></p></a>
        {% else %}
        <span class="pure-u-1-2 pagination-item "><p>下一篇&nbsp;<i class="fa fa-chain-broken"></i></p></span>
        {% endif %}
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'yangzhiyong'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    